<h1>Night School</h1>

<div id='homepage-night-school'>
  <div>
    <%= image_tag( image_path('night-school-color'))%>
  </div>
  <div>
    <p>Socialist Night School is a rolling open course that provides opportunities for East Bay DSA members to ground their political work in the rich theoretical and historical traditions of the socialist left.</p>
    <p>Classes are down-to-earth, inclusive spaces that give East Bay comrades a chance to grow their politics together, regardless of background knowledge, affiliation, or whether you've attended a class before. You don't even have to be a member of East Bay DSA — everyone is welcome!</p>
    <%= link_to (root_url + 'campaigns/'), class: 'button button-primary' do %>
      Join Us &#8594;
    <% end %>
  </div>
</div>
