<% content_for :title, 'Donate' %>

<div class='hero'>
  <h1>Donate to East Bay DSA</h1>
</div>

<p>
  You can help East Bay DSA create a bold socialist future in the Bay Area by
  making a monthly contribution, which helps sustain the important work we
  do by providing a regular, reliable donation.
</p>
<p>&nbsp;</p>

<script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
<iframe src="https://donorbox.org/embed/donate-to-ebdsa" height="685px" width="100%" style="max-width:500px; min-width:310px; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
