@import 'variables_and_mixins';

.event {
}

.event--details {
  display: flex;
  margin-bottom: $default_spacing;

  li {
    flex: 1;
    list-style: none;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0;
    margin-bottom: $default_spacing;
  }
}

.event__rsvp {
  margin: $default_spacing 0;
  padding: $default_spacing;
  background: $dsa_red;
  color: white;

  h2 {
    margin-bottom: 0;
  }

  input[type=submit] {
    background: $dsa_purple;
  }
}
