@import 'variables';

.footer,
.footer h3,
.footer li {
  color: $light_text_color;
}

.footer {
  background: $dsa_grey;
  padding: 100px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
}

.footer__nav_list {
  list-style: none;
}

.footer__nav_list li {
  padding: 8px 16px 8px 0;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

