@import 'variables_and_mixins';

.home-container {
  width: 95%;
  padding: 0;

  @media (max-width: 960px) {
    width: 80%;
  }

  @media (min-width: 1300px) {
    width: 90%;
  }
}

#home-hero {
  position: relative;
  background-color: $dsa_red;
  color: $text-color;
  text-shadow: none;
  height: 500px;
  margin-top: -30px;
}

#home-hero-content {
  background: white;
  max-width: 550px;
  height: 500px;
  padding: $default_spacing * 2;
  margin-top: -25px;
  left: 0;
  border-top: $dsa_red solid 25px;
  font-size: 20px;

  h1 {
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: $default_spacing * 1.5;
    strong {
      color: $dsa_red;
      font-weight: bold;
    }
  }
}

#home-cta {
  color: white;
  background: $dsa_red;
  padding-top: 90px;
  margin-bottom: 50px;
  padding-bottom: 40px;
  font-size: 18px;

  h3 {
    font-size: 22px;
    margin-bottom: 0;
  }


  #home-newsletter {
    @media (min-width: 1110px) {
      display: flex;
      align-items: center;
      flex: auto;

      form {
        margin-left: 30px;
      }
    }
  }

  #home-join {
    @media (min-width: 1110px) {
      display: flex;
      flex: auto;
      align-items: center;
      justify-content: center;
      h3 {
        margin-right: 30px;
      }
    }
  }
}

.home-content {
  h1 {
    display: inline-block;
    background: $dsa_purple;
    color: white;
    padding: 0 10px;
  }
}

.home-columns {
  display: flex;

  > div {
    flex: 1;
  }
}

#home-news {
  margin-bottom: 30px;

  #homepage-posts {
    @media (min-width: 960px) {
      display: flex;
    }
  }

  .homepage-post {
    flex: 1;
    margin-right: 40px;
    border-left: 10px solid  $dsa_red;
    padding-left: 25px;
  }
}

#home-events {
  #homepage-events {
    @media (min-width: 960px) {
      display: flex;
    }
  }

  .homepage-event {
    flex: 1;
    margin-right: 40px;
    display: flex;
    flex-direction: column;


    a {
      flex: 1;
      background: $dsa_red;
      color: white;
      display: block;
      padding: 25px;
      text-decoration: none;

      &:hover {
        background: $dsa_purple;
        text-decoration: underline;
      }
    }
  }
}
