@import 'variables_and_mixins';

#home-hero {
  position: relative;
  background-color: $dsa_red;
  color: $text-color;
  text-shadow: none;
  height: 500px;
  margin-top: -30px;
}

#home-hero-content {
  background: white;
  max-width: 550px;
  height: 500px;
  padding: $default_spacing * 2;
  margin-top: -25px;
  left: 0;
  border-top: $dsa_red solid 25px;
  font-size: 20px;

  h1 {
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: $default_spacing * 1.5;
    strong {
      color: $dsa_red;
      font-weight: bold;
    }
  }
}

#home-cta {
  color: white;
  background: $dsa_red;
  padding-top: 90px;
  margin-bottom: 50px;
  padding-bottom: 40px;

  #home-newsletter {
    display: flex;
    align-items: center;
    flex: auto;

    h3 {
      margin-bottom: 0;
    }

    form {
      margin-left: 30px;
    }
  }

  #home-join {
    display: flex;
    flex: auto;
    align-items: center;
    h3 {
      margin-right: 30px;
    }
  }
}

.home-container {
  width: 90%;
  padding: 0;
}

.home-content {
  h1 {
    display: inline-block;
    background: $dsa_purple;
    color: white;
    padding: 0 10px;
    margin-left: -10px;
  }
}

.home-columns {
  display: flex;

  > div {
    flex: 1;
  }
}

#home-news {
  margin-bottom: 30px;
  
  #homepage-posts {
    display: flex;
  }

  .homepage-post {
    margin-left: -10px;
    margin-right: 40px;
    border-left: 10px solid  $dsa_red;
    padding-left: 25px;
  }
}
